@font-face{
    font-family: 'segoe';
    src: url(../fonts/Segoe/segoeuil.ttf);
}

.jumbotron{
    display: block;
    height: 400px;
    background: url('../images/background.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin: 0;
}

.me{
    //position: absolute;
}

#my-image{
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 50em;

    border: 4px solid #e4e4e4;
    position: relative;
    top: -79px;

    overflow: hidden;

    background-color: #e4e4e4;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
}

#my-image img{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Open Sans',sans-serif;
    line-height: 36px;
    font-weight: lighter;
}

.body .element{
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);

    padding: 2em;
    margin-bottom: 2em;
}

h1, h2, h3, h4, h5, h6 {

    font-family: segoe;
    //font-family: "Frutiger Neue W02 Thin",Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.4;
}

.experience div{
    border-left: 1px solid blueviolet;
    padding-left: 1em;
    margin-left: 1em;
}

.experience div h4:before{
    content: '';
    display: block;
    height: 1em;
    width: 1em;
    background-color: black;
    border-radius: 50%;
    
    position: absolute;
    left: 1.8em;
}

footer{
    background-color: #505050;
    height: 300px;
}